body, ul, li, h1,a{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #f7d79480;
}
header{
    background-color: #F3A683;
    padding: 40px;
}
header h1{
    color: black;
    text-align: center;
    font-size: 3.5em;
}
nav.options{
    background-color: #e15f41;
    padding: 2px;
    position: sticky;
    top: 0;
}
nav.options ul{
    white-space: nowrap;
    max-width: 100%;
}
nav.options li{
    display: inline-block;
    padding: 20px;
    width: 30%;
    text-align: center;
    font-size: 2em;
}
nav.options a{
    text-decoration: none;
    color: black;
}
article.atention{
    background-color: #ECECEC;
    border-radius: 20px;
    padding: 20px;
    margin: 7px;
    width: 100%;
}
article.atention h2{
    text-align: center;
}
article.atention p{
    text-align: center;
}
section{
    max-width: 100%;
    
}
section a{
    text-decoration: none;
    color: black;
}
section li{
    padding: 1.5em;
}
section article ul li{
    text-decoration: none;
}
article{
    display: inline-block;
    margin: 30px 20px;
    width: 30%;
    text-align: center;
    border-radius: 20px;
    background-color: #F5CD79;
}
article h2{
    text-align: center;
}
footer{
    background-color: #596275;
    padding: 8px;
}
footer p{
    text-align: center;
    color: black;
    font-size: 26px;
}